.nav-list {
    font-weight: 800;
    font-size: 1.5rem;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

.blog-post-title {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.blog-post-date span {
    font-size: 1.6rem;
    font-weight: 600;
}

.blog-post-text {
    font-size: 1.4rem;
}
.blog-post-cta {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1rem;
}
